[submodule "avr-hal"]
	path = avr-hal
	url = git@github.com:rubend056/avr-hal.git
	branch = samn
[submodule "samn-common"]
	path = samn-common
	url = git@github.com:rubend056/samn-common.git
	branch = main
